@model ChopperStoreAngularTest.Models.Skin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skinFloat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skinFloat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
